*{
    margin: 0;
    padding: 0;
}
.header{
    height: 75px;
    background-color:#1ABEBF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.con{
    padding-top: 35px;
    background-color: #f5f5f5;
}
.main-body{
    width: 720px;
    margin: 0 auto;
}
.main-body>p{
    margin: 10px 0;
    color:#aaaaaa;
}
.main-body p:nth-of-type(even){
    text-indent: 20px;
    line-height: 30px;
}
.main-body img{
    margin: 20px 0;
}
table,th,td{
    border: 2px solid;
}
table{
    border-collapse: collapse;
    width: 720px;
    text-align: center; 
}
table th{
    background-color: #ff8201;
    line-height: 60px;
}
table td{
    line-height: 50px;
}
tbody tr td:nth-child(odd){
    font-weight: bold;
}